

/* 
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
    position: relative;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
  } */
    
  .cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    --edge-length: 50px;

    position: absolute;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .cubes {
    width: var(--edge-length);
    height: var(--edge-length);
    transform: rotateX(45deg) rotateZ(-45deg);
    backface-visibility: visible;
    overflow: visible;
    transform-style: preserve-3d;
    perspective: 9000px;
    animation: cubes 4s both;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
    position: relative;
  }
  @keyframes cubes {
    from {
      transform: rotateX(60deg) rotateZ(-45deg) scale3D(2, 2, 2);
    }
    to {
      transform: rotateX(90deg) rotateZ(90deg);
    }
  }
  
  .cube {
    height: var(--edge-length);
    width: var(--edge-length);
    transform-style: preserve-3d;
    backface-visibility: visible;
    transform-origin: center center center;
    position: absolute;
    top: 0;
    left: 0;
    animation: cube 4s both;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
  }
  .cube > .cube-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
    transform-origin: center center center;
    animation: cube-inner 4s both;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
  }
  .cube[data-cube^="1"] {
    top: calc(-1 * var(--edge-length));
  }
  .cube[data-cube^="3"] {
    top: var(--edge-length);
  }
  .cube[data-cube^="11"], .cube[data-cube^="21"], .cube[data-cube^="31"] {
    left: calc(-1 * var(--edge-length));
  }
  .cube[data-cube^="13"], .cube[data-cube^="23"], .cube[data-cube^="33"] {
    left: var(--edge-length);
  }
  .cube[data-cube$="1"] {
    animation: cube2 4s both;
  }
  @keyframes cube {
    from {
      transform: scale3D(50%, 50%, 50%);
    }
    to {
      transform: none;
    }
  }
  @keyframes cube2 {
    from {
      transform: translateZ(var(--edge-length)) scale3D(50%, 50%, 50%);
    }
    to {
      transform: translateZ(var(--edge-length));
    }
  }
  .cube[data-cube$="3"] {
    animation: cube3 4s both;
  }
  @keyframes cube3 {
    from {
      transform: translateZ(calc(-1 * var(--edge-length))) scale3D(50%, 50%, 50%);
    }
    to {
      transform: translateZ(calc(-1 * var(--edge-length)));
    }
  }
  @keyframes cube-inner {
    from {
      transform: none;
    }
    50% {
      transform: rotateZ(-1turn);
    }
    to {
      transform: rotateZ(-1turn);
    }
  }
  
  .cube-inner div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    top: 0;
    left: 0;
    animation: any 4s both;
  }
  .cube-inner div::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    animation: any 4s both;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
  }
  
  .cube-inner div::before {
    animation: line-fade 4s both;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1) !important;
    background-color: var(--text);
  }
}
  
.cube-inner div:nth-child(2) {
  transform-origin: left center;
  transform: rotateY(90deg);
}
.cube-inner div:nth-child(2)::before {
  transform-origin: right;
}

.cube-inner div:nth-child(3) {
  transform-origin: bottom center;
  transform: rotateX(90deg);
}
.cube-inner div:nth-child(3)::before {
  transform-origin: top;
}

.cube-inner div:nth-child(6) {
  transform: translateZ(calc(-1 * var(--edge-length)));
}

.cube-inner div:nth-child(4) {
  transform-origin: top center;
  transform: rotateX(-90deg);
}
.cube-inner div:nth-child(4)::before {
  transform-origin: top;
}

.cube-inner div:nth-child(5) {
  transform-origin: right center;
  transform: rotateY(-90deg);
}
.cube-inner div:nth-child(5)::before {
  transform-origin: right;
}

@keyframes line-fade {
  from {
    border: 1px solid var(--base);
  }
  70% {
    border: 1px solid var(--base);
  }
  to {
    border: 1px solid transparent;
  }
}

.cube[data-cube="111"] > .cube-inner, .cube[data-cube="111"] > .cube-inner::before, .cube[data-cube="111"] > .cube-inner::after, .cube[data-cube="111"] > .cube-inner > [class^=cube-], .cube[data-cube="111"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="111"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 114ms;
}

.cube[data-cube="112"] > .cube-inner, .cube[data-cube="112"] > .cube-inner::before, .cube[data-cube="112"] > .cube-inner::after, .cube[data-cube="112"] > .cube-inner > [class^=cube-], .cube[data-cube="112"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="112"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 336ms;
}

.cube[data-cube="113"] > .cube-inner, .cube[data-cube="113"] > .cube-inner::before, .cube[data-cube="113"] > .cube-inner::after, .cube[data-cube="113"] > .cube-inner > [class^=cube-], .cube[data-cube="113"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="113"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 184ms;
}

.cube[data-cube="121"] > .cube-inner, .cube[data-cube="121"] > .cube-inner::before, .cube[data-cube="121"] > .cube-inner::after, .cube[data-cube="121"] > .cube-inner > [class^=cube-], .cube[data-cube="121"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="121"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 88ms;
}

.cube[data-cube="122"] > .cube-inner, .cube[data-cube="122"] > .cube-inner::before, .cube[data-cube="122"] > .cube-inner::after, .cube[data-cube="122"] > .cube-inner > [class^=cube-], .cube[data-cube="122"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="122"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 233ms;
}

.cube[data-cube="123"] > .cube-inner, .cube[data-cube="123"] > .cube-inner::before, .cube[data-cube="123"] > .cube-inner::after, .cube[data-cube="123"] > .cube-inner > [class^=cube-], .cube[data-cube="123"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="123"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 256ms;
}

.cube[data-cube="131"] > .cube-inner, .cube[data-cube="131"] > .cube-inner::before, .cube[data-cube="131"] > .cube-inner::after, .cube[data-cube="131"] > .cube-inner > [class^=cube-], .cube[data-cube="131"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="131"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 228ms;
}

.cube[data-cube="132"] > .cube-inner, .cube[data-cube="132"] > .cube-inner::before, .cube[data-cube="132"] > .cube-inner::after, .cube[data-cube="132"] > .cube-inner > [class^=cube-], .cube[data-cube="132"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="132"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 111ms;
}

.cube[data-cube="133"] > .cube-inner, .cube[data-cube="133"] > .cube-inner::before, .cube[data-cube="133"] > .cube-inner::after, .cube[data-cube="133"] > .cube-inner > [class^=cube-], .cube[data-cube="133"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="133"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 78ms;
}

.cube[data-cube="211"] > .cube-inner, .cube[data-cube="211"] > .cube-inner::before, .cube[data-cube="211"] > .cube-inner::after, .cube[data-cube="211"] > .cube-inner > [class^=cube-], .cube[data-cube="211"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="211"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 262ms;
}

.cube[data-cube="212"] > .cube-inner, .cube[data-cube="212"] > .cube-inner::before, .cube[data-cube="212"] > .cube-inner::after, .cube[data-cube="212"] > .cube-inner > [class^=cube-], .cube[data-cube="212"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="212"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 192ms;
}

.cube[data-cube="213"] > .cube-inner, .cube[data-cube="213"] > .cube-inner::before, .cube[data-cube="213"] > .cube-inner::after, .cube[data-cube="213"] > .cube-inner > [class^=cube-], .cube[data-cube="213"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="213"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 353ms;
}

.cube[data-cube="221"] > .cube-inner, .cube[data-cube="221"] > .cube-inner::before, .cube[data-cube="221"] > .cube-inner::after, .cube[data-cube="221"] > .cube-inner > [class^=cube-], .cube[data-cube="221"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="221"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 104ms;
}

.cube[data-cube="222"] > .cube-inner, .cube[data-cube="222"] > .cube-inner::before, .cube[data-cube="222"] > .cube-inner::after, .cube[data-cube="222"] > .cube-inner > [class^=cube-], .cube[data-cube="222"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="222"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 390ms;
}

.cube[data-cube="223"] > .cube-inner, .cube[data-cube="223"] > .cube-inner::before, .cube[data-cube="223"] > .cube-inner::after, .cube[data-cube="223"] > .cube-inner > [class^=cube-], .cube[data-cube="223"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="223"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 21ms;
}

.cube[data-cube="231"] > .cube-inner, .cube[data-cube="231"] > .cube-inner::before, .cube[data-cube="231"] > .cube-inner::after, .cube[data-cube="231"] > .cube-inner > [class^=cube-], .cube[data-cube="231"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="231"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 272ms;
}

.cube[data-cube="232"] > .cube-inner, .cube[data-cube="232"] > .cube-inner::before, .cube[data-cube="232"] > .cube-inner::after, .cube[data-cube="232"] > .cube-inner > [class^=cube-], .cube[data-cube="232"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="232"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 271ms;
}

.cube[data-cube="233"] > .cube-inner, .cube[data-cube="233"] > .cube-inner::before, .cube[data-cube="233"] > .cube-inner::after, .cube[data-cube="233"] > .cube-inner > [class^=cube-], .cube[data-cube="233"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="233"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 350ms;
}

.cube[data-cube="311"] > .cube-inner, .cube[data-cube="311"] > .cube-inner::before, .cube[data-cube="311"] > .cube-inner::after, .cube[data-cube="311"] > .cube-inner > [class^=cube-], .cube[data-cube="311"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="311"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 396ms;
}

.cube[data-cube="312"] > .cube-inner, .cube[data-cube="312"] > .cube-inner::before, .cube[data-cube="312"] > .cube-inner::after, .cube[data-cube="312"] > .cube-inner > [class^=cube-], .cube[data-cube="312"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="312"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 332ms;
}

.cube[data-cube="313"] > .cube-inner, .cube[data-cube="313"] > .cube-inner::before, .cube[data-cube="313"] > .cube-inner::after, .cube[data-cube="313"] > .cube-inner > [class^=cube-], .cube[data-cube="313"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="313"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 3ms;
}

.cube[data-cube="321"] > .cube-inner, .cube[data-cube="321"] > .cube-inner::before, .cube[data-cube="321"] > .cube-inner::after, .cube[data-cube="321"] > .cube-inner > [class^=cube-], .cube[data-cube="321"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="321"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 368ms;
}

.cube[data-cube="322"] > .cube-inner, .cube[data-cube="322"] > .cube-inner::before, .cube[data-cube="322"] > .cube-inner::after, .cube[data-cube="322"] > .cube-inner > [class^=cube-], .cube[data-cube="322"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="322"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 107ms;
}

.cube[data-cube="323"] > .cube-inner, .cube[data-cube="323"] > .cube-inner::before, .cube[data-cube="323"] > .cube-inner::after, .cube[data-cube="323"] > .cube-inner > [class^=cube-], .cube[data-cube="323"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="323"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 321ms;
}

.cube[data-cube="331"] > .cube-inner, .cube[data-cube="331"] > .cube-inner::before, .cube[data-cube="331"] > .cube-inner::after, .cube[data-cube="331"] > .cube-inner > [class^=cube-], .cube[data-cube="331"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="331"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 237ms;
}

.cube[data-cube="332"] > .cube-inner, .cube[data-cube="332"] > .cube-inner::before, .cube[data-cube="332"] > .cube-inner::after, .cube[data-cube="332"] > .cube-inner > [class^=cube-], .cube[data-cube="332"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="332"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 274ms;
}

.cube[data-cube="333"] > .cube-inner, .cube[data-cube="333"] > .cube-inner::before, .cube[data-cube="333"] > .cube-inner::after, .cube[data-cube="333"] > .cube-inner > [class^=cube-], .cube[data-cube="333"] > .cube-inner > [class^=cube-]::before, .cube[data-cube="333"] > .cube-inner > [class^=cube-]::after {
  animation-delay: 8ms;
}